    <h1>supreme-broccoli</h1>
    <h3>An image captioning app</h3>
    <div>
    {{#if image}}
        {{#each image}}
            <a href="/image/{{this.dataValues.id}}"><img src="{{this.dataValues.imageURL}}" width="120" height="90"></a>
        {{/each}}
    {{else}}
        <p>There are currently no Images.</p>
    {{/if}}
    </div>
    <br>
    {{#if user}}
        <div id="logout">
        <form action="/auth/logout" method="POST">
            Logged in as {{user.email}}
            <INPUT type="submit" value="Logout">
        </form>
        </div>
    {{else}}
        <p>Guests accounts can browse freely. <br> Registered users can submit captions.</p>
        <form action="/auth/login" method="POST">
        <label for="userEmail">Email:</label>
        <input name="username" id="userEmail" type = "text" required><br>
        
        <label for="passWord">Password</label>
        <input name="password" id="passWord" type = "password" required><br>
        <INPUT type="submit" value="Log In"> <INPUT type="reset">
    </form>
    <br>
    <form action="/auth/register" method="GET">
        <input id="register" type="submit" value="Register">
    </form>
    {{/if}}
